
# Ignore package and package-lock.json in the backend folder
/backend/package
/backend/package-lock.json

# Node modules
/backend/node_modules/

frontend/public/img/Sri Lanka.mp4
frontend/src/com/img/Sri Lanka.mp4

