
# Ignore package and package-lock.json in the backend folder
/backend/package
/backend/package-lock.json
/backend/.env
# Node modules
/backend/node_modules/

frontend/public/img/SriLanka.webm
frontend/src/com/img/SriLanka.webm

/node_modules
.env
/backend/.env
backend/.env
backend/.env

/node_modules
/frontend/public/img
/frontend/src/com/img
