.travelagency{
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
     url("./img/tool/travel.jpg") no-repeat center;
     height:300px;
     display:flex;
     align-items: center;
     justify-content: center;
     background-attachment: fixed;
     background-size: cover;

}

.travelagency h1{
    color: #fff;
}

.traveltitle{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-style:italic;
}

.traveltitle h2{
    color:#483D8B;
}

.agencyForm {
    width: 50%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .m1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .agencyLabel {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #emailHelp {
    font-size: 12px;
    color: #6c757d;
  }
  
  button.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.btn-primary:hover {
    background-color: #0056b3;
  }

  .packages {
    padding: 20px;
  }
  
  .package {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .package h2 {
    margin-top: 0;
  }
  
  .package img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  