.event-list-container {
    margin-top: 100px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    margin-bottom: 10px;
  }
  
  .btn {
    margin-right: 5px;
  }

  
body {
  font-family: Arial, sans-serif;
}

.event-list-container {
  /* padding: 10px;
  padding-top: 5px; */
}

.head {
  text-align: center;
  margin-bottom: 20px;
  /* color: aliceblue; */
  padding-top: 30px;
  font-weight: 1000;
}

/* Search Bar Styles */
.search-bar {
  margin-bottom: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%; 
  max-width: 800px; 
  padding: 10px 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.hero-section4 {
  position: relative;
  background-image: url('./img/galle.png'); 
  background-position: center;
  background-size: cover;
  height: 48vh; 
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 140px 0;
}



.card {
  transition: transform 0.3s ease;
  padding-top: 0%;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}


 

 
  