
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 2;
    }
  }
  
  .fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }

  
  .form-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(70px);
    z-index: -1;
  }
  
  .form-custom-margin {
    margin-top: -50px;
  }
  
  .form-transparent {
    background: rgba(255, 255, 255, 0.8); 
    border: none;
    padding: 20px;
    border-radius: 10px;
  }
 


.body {
    margin-top: 80px;
    background-image: url('./img/pexels-tomas-malik-793526-1998439.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    padding: 50px 0; 
    position: relative;
  }
  .custom-button {
    height: 40px;
    width: 200px;
    padding: 0 1.5rem;
    border-radius: inherit;
    background: var(--green-color);
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.custom-button:hover {
    background: var(--dark-green);
}
