.profile-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

  }

  .profile1{
    background: url(./img/tool/profile.jpeg) no-repeat;
    height:500px;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-attachment: fixed;
     background-size: cover;
     padding: 50px 0; /* Padding for extra space */
     position: relative;
     margin-top: 78px;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .stat-item {
    text-align: center;
  }
  
  .stat-item h4 {
    margin: 0;
    font-size: 24px;
  }
  
  .stat-item p {
    margin: 0;
    font-size: 12px;
    color: gray;
  }
  
  .profile-avatar {
    margin: 0 auto;
  }
  
  .avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info h2 {
    margin-bottom: 5px;
  }
  
  .profile-info p {
    color: gray;
  }
  
  .profile-actions {
    margin-top: 20px;
  }
  
  .btn-profilebtn, .btn-travelpackagebtn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .btn-profilebtn {
    background-color: #00bfff;
    color: white;
  }
  
  .btn-travelpackagebtn {
    background-color: #333;
    color: white;
  }
  
  .btn-profilebtn:hover, .btn-travelpackagebtn:hover  {
    background-color: #0056b3;
  }