.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-image: url('C:\Users\ADMIN\Documents\2year - 2nd sem IT\projects\ITP documents\UI\tea.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup-form-container {
  background-color: rgba(200, 197, 149, 0.85); 
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  max-width: 800px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 15px;
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.terms-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 14px;
}

.terms-group input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 5px;
}

.signup-button {
  padding: 10px 20px;
  background-color: #e08e64;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #7a5646;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
