@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-decoration: none;
   
    transition: .5s ease;
}
:root {
    --dark-green: #112a34;
    --green-color: #00404f;
    --white-color: #fff;
    --text-color: #333;
}
::selection {
    background: var(--green-color);
    color: var(--white-color);
}

.label {
    font-size: 1.1rem;
    color: #666;
  
    font-weight: 500;
}
.heading {
    font-size: 2.5rem;
    margin-top: 1rem;
    line-height: 1.2;
}
section.home-section {
    padding: 1rem;
    width: 100%;
   
    
}

.home-container .navbar-custom {
    width: calc(100% - 2rem);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    z-index: 100;
    position: fixed;
    
}
.home-container .navbar-custom .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home-container .navbar-custom .menu-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}
.home-container .navbar-custom .menu-icon:hover {
    color: var(--green-color);
}
.home-container .navbar-custom .logo-container h3 {
    font-weight: 800;
    color: var(--white-color);
}
.home-container .navbar-custom .menu-close {
    display: none;
}
.home-container .navbar-custom .menu-list {
    display: flex;
    list-style: none;
}
.home-container .navbar-custom .menu-list li {
    position: relative;
    margin: 0 1.5rem;
    cursor: pointer;
}
.home-container .navbar-custom .menu-list li::before {
    position: absolute;
    bottom: -3px;
    content: "";
    width: 0;
    height: 3px;
    border-radius: 5px;
    background: var(--white-color);
    transition: .5s;
}
.home-container .navbar-custom .menu-list li:hover::before {
    width: 100%;
}
.home-container .navbar-custom .menu-list li a {
    color: var(--white-color);
    font-weight: 500;
    text-decoration: none;
}
.home-container .navbar-custom .auth-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.home-container .navbar-custom .auth-container a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
    font-weight: 500;
    border: 2px solid var(--white-color);
}
.home-container .navbar-custom .auth-container a:hover {
    color: var(--green-color);
    background: var(--white-color);
}

.home-container .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--white-color);
    text-align: center;
}
.home-container .content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.home-container .content h1 {
    font-size: 3.5rem;
    max-width: 50rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.home-container .content p {
    max-width: 40rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.home-container .content .search-bar {
    width: 100%;
    max-width: 38rem;
    height: 45px;
    background: var(--white-color);
    display: flex;
    align-items: center;
    border-radius: 3rem;
    padding: .3rem;
}
.home-container .content .search-bar i {
    color: var(--text-color);
    margin: 0 1rem;
}
.home-container .content .search-bar input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--text-color);
    padding-right: 1rem;
    font-size: 15px;
}
.home-container .content .search-bar button {
    height: 100%;
    padding: 0 1.5rem;
    border-radius: inherit;
    background: var(--green-color);
    color: var(--white-color);
    border: none;
    outline: none;
    cursor: pointer;
}
.home-container .content .search-bar button:hover {
    background: var(--dark-green);
}
.home-container .content h4,
.home-container .content h1,
.home-container .content p,
.home-container .content .search-bar {
    transform: translate(0, 100px);
}
.content {
    padding: 2rem 1rem;
    margin-top: 90px; 
    margin-left: 2rem; 
    margin-right: 2rem; 
    margin-bottom: 120px; 
}
.vehicle-mybooking-content {
    padding: 2rem 1rem;
    margin-top: 0px; 
    margin-left: 2rem; 
    margin-right: 2rem; 
    margin-bottom: 200px; 
}
.vehicle-profile-container{
    padding: 2rem 1rem;
    margin-top: 0px; 
    margin-left: 2rem; 
    margin-right: 2rem; 
    margin-bottom: 200px;    
}

@media (max-width: 1080px) {
    html {
        font-size: 90%;
    }
    section {
        padding: 0 2rem;
    }
    .travel .container {
        column-gap: 2rem;
    }
    footer .footer {
        padding: 2rem;
    }
}
@media (max-width: 970px) {
    .home-container .navbar-custom {
        padding: 1rem;
    }
    .home-container .navbar-custom .menu-list li {
        margin: 0 1rem;
    }
    .destination .container .container-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-direction: column;
    }
    .heading {
        font-size: 2rem;
    }
    footer .footer .container {
        flex-direction: column;
    }
}
@media (max-width: 885px) {
    .home-container .navbar-custom .menu-container {
        display: none;
    }
    .home-container .navbar-custom .menu-icon {
        display: block;
    }
    .home-container .navbar-custom .menu-container.active {
        display: block;
        position: absolute;
        left: -1.5rem;
        top: -1.5rem;
        width: calc(100vw - 1rem);
        height: calc(100vh - 1rem);
        background: rgb(0 0 0/90%);
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }
    .home-container .navbar-custom .menu-close {
        display: block;
        position: absolute
    }
}