.body {
  
  }

.ticket-form-container{
    margin-top: 120px;
    margin-bottom: 80px;
}

.hero-section2 {
  position: relative;
  background-image: url('./img/party2.png'); 
  background-position: center;
  background-size: cover;
  height: 40vh; 
  align-items: center;
  justify-content: center;
  padding: 145px 0;
}

h2{
  margin-top: 45px;
  color: aliceblue;

}