
.tourpic{
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
     url("./img/tool/tourpic.jpg") no-repeat center;
     height:300px;
     display:flex;
     align-items: center;
     justify-content: center;
     background-attachment: fixed;
     background-size: cover;

}

.tourpic h1{
    color: #fff;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@import '~remixicon/fonts/remixicon.css';

.search_bar{
    padding: 0.5rem 1 rem ;
    border-radius: 50px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;

    
}

.form_group span{
    font-size: 1.8rem;
    color:gray;
}

.form_group input{
    border:none;
    font-size: 0.9rem;
    color: var(--heading-color);
    font-weight: 500;
}

.form_group input:focus{
    outline: none;;
}

.form_group h6{
    margin-bottom: 0;
}

.form_group-fast{
    border-right:2px solid #ddd;
}

.search-icon{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: orangered;
    color: #ddd;
    border-radius: 10px 5px 10px 5px;
    cursor:pointer;
}

.description {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-style:italic;
}

.welcome {
    text-align: center;
    margin-top: 20px;
}

.welcome h3{
    color: #00008B;
}

.agency {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008000; 
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px; 
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.agency:hover{
    background-color: #45a049;
}






