@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to all elements */
}
.form-container {
    padding: 20px;
    width: 80%;  
    max-width: 1200px;  
    background: rgba(255, 255, 255, 0.8);  
    border-radius: 8px;  
  }
  
  
  .form-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .form-table th, .form-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .form-table th {
    background-color: #f4f4f4;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Adjust gap if needed */
    justify-content: center; /* Center buttons if desired */
  }
  
  .approve-button, .deny-button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px; /* Adjust font size if needed */
  }
  
  .approve-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .deny-button {
    background-color: #f44336; /* Red */
    color: white;
  }
  