/* post.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to all elements */
}

.form-container {
  max-width: 600px; /* Adjust max-width as needed */
  margin: 20px auto; /* Center the form horizontally */
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Rounded corners for the form container */
  background-color: rgba(249, 249, 249, 0.8); /* Slightly transparent background */
  text-align: left; /* Align text left for better readability */
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Center the heading text */
}

 
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all form items */
  width: 500px; /* Set form width */
  padding: 20px; /* Padding inside the form */
  border-radius: 10px; /* Rounded corners */
  background-color: transparent; /* Fully transparent background */
}



.form-container label {
  display: inline-block;
  width: 350px;  
  margin-bottom: 8px;
  position: relative;
  left: 140px;
}
 
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="password"] {
  width: calc(100% - 160px); /* Adjust width to leave space for label */
  padding: 10px;
  margin-bottom: 20px; /* Increase margin-bottom for more spacing between fields */
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners for the input fields */
  font-size: 14px;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
  background-color: #f2f2f2; /* Light gray background color */
  position: relative;
  left: 80px;
}
 
.Languages-Spoken{
    position: relative;
    right: 95px;
}
 


.checkbox-group {
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
    bottom: 10%;
    
  }

.form-container button[type="submit"] {
  background-color:  #22597e;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  max-width: 200px; /* Adjust max-width as needed */
  transition: background-color 0.1s ease;
}

.form-container button[type="submit"]:hover {
  background-color: #074d7c;
  color: white;
}
