.dashboard1 {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    
   
  }
  
  .title1 {
    text-align: center;
    color: #333;
   margin-top: 70px;
  }
  
  .table1 {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .table1 th,
  .table1 td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table1 th {
    background-color: #4CAF50;
    color: white;
  }
  
  .table1 tr:hover {
    background-color: #f1f1f1;
  }
  
  .table1 img {
    border-radius: 8px;
  }
  
  .d {
    text-align: center;
    color: #777;
    font-size: 18px;
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 18px;
    color: #ff4d4d;
    margin-top: 20px;
  }
  
  .edit-button, .delete-button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #4CAF50; /* Green */
    color: white;
    width: 100px;
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
    width: 100px;
  }
  