.signup{
    background: url("./shedulerimage/place.jpg") no-repeat center;
    height:700px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0; /* Padding for extra space */
    position: relative;
    margin-top: 40px;
}
  