
  
  .table {
    margin-top: 20px;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  
.sellertable th {
  background-color: #687786; /* Set the header color */
  color: white; /* Text color for better contrast */
}

.sellerregister-container{
  margin-top: 200px;
}