/* Header container styling */
.header-nav {
    border-bottom: 1px solid #dee2e6; /* Light border for separation */
    padding: 0.5rem 1rem; /* Padding around the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a floating effect */
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Center items vertically */
}


.nav-link {
    color: #4c5f46; 
    font-size: 1rem; 
    font-weight: 500; 
    margin-left: 1rem; 
    transition: color 0.3s, background-color 0.3s; 
}

/* Active link styling */
.nav-link.active {
    color: #495057; 
    background-color: #e9ecef; 
    border-radius: 0.25rem; 
}

/* Hover effect for links */
.nav-link:hover {
    color: #4c5f46; /* Darker color on hover */
    text-decoration: underline; /* Underline effect on hover */
}

/* Logout link specific styling */
.logout-link {
    font-weight: 600; /* Bold weight for logout link */
    margin-left: auto; /* Push logout link to the right */
}
