
.event-list-container {
  /* padding: 10px;
  padding-top: 5px; */
}

.head {
  text-align: center;
  margin-bottom: 20px;
  /* color: rgb(0, 1, 1); */
  padding-top: 30px;
  font-weight: 1000;
}

/* Search Bar Styles */
.search-bar1 {
  margin-bottom: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.search-bar1 input {
  width: 100%; 
  max-width: 800px; 
  padding: 10px 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.hero-section3 {
  position: relative;
  background-image: url('./image/dark.png'); 
  background-position: center;
  background-size: cover;
  height: 48vh; 
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding: 140px 0;
}



.card {
  transition: transform 0.3s ease;
  padding-top: 0%;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-body-event {
  text-align: center;
}
