body {
    
    /* background-image: url('./image/cocanat.png');  */
    background-size: cover;
    background-position: center;
    
    position: relative;
  }

.update-container{
    margin-top: 120px;
    margin-bottom: 80px;
    backdrop-filter: 50%;
}

