@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s ease;
}

:root {
    --dark-green: #112a34;
    --green-color: #00404f;
    --white-color: #fff;
    --text-color: #333;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: #f4f4f4;
}

.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 0 0 0.7rem 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem; 
    margin: 2rem 2rem 0; 
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-icon {
    font-size: 1.4rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.menu-icon:hover {
    color: var(--green-color);
}

.logo-container h3 {
    font-weight: 800;
    color: var(--white-color);
}

.menu-container {
    display: flex;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    position: relative;
    margin: 0 1.5rem;
    cursor: pointer;
}

.menu-list li::before {
    position: absolute;
    bottom: -3px;
    content: "";
    width: 0;
    height: 3px;
    border-radius: 5px;
    background: var(--white-color);
    transition: 0.5s;
}

.menu-list li:hover::before {
    width: 100%;
}

.menu-list li a {
    color: var(--white-color);
    font-weight: 500;
}

.auth-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.auth-container a {
    color: var(--white-color);
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    font-weight: 500;
    border: 2px solid var(--white-color);
}

.auth-container a:hover {
    color: var(--green-color);
    background: var(--white-color);
}

.content {
    padding: 2rem 1rem;
    margin-top: 120px; 
    margin-left: 2rem; 
    margin-right: 2rem; 
    margin-bottom: 120px; 
}

@media (max-width: 970px) {
    .navbar-custom {
        padding: 1rem;
        margin: 1rem; 
    }
    .menu-list li {
        margin: 0 1rem;
    }
}

@media (max-width: 885px) {
    .menu-container {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}
