.vehicle-profile-container-2 {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
  }
  
  .vehicle-profile-container-h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 20px 0;
  }
  
  .vehicle-profile-container-p {
    font-size: 16px;
    text-align: left;
    color: #555;
    line-height: 1.6;
  }
  
  .vehicle-profile-container-strong {
    color: #333;

  }

  .vehicle-profile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px 14px;
    border-radius: 6px;
    border: none;
    background-color: #e64141;
    font-Size: '16px';
    color: #fff;
    cursor: 'pointer';
  }

  .vehicle-profile-logout:hover {
    background-color: rgb(228, 78, 78);
  }